*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

body{
    background-color: #FAF0F6;

    margin: 1rem 4rem;
}

.site-header{
    text-align: center;

    padding: 1rem 0 1rem 1rem;
    margin: 2rem 0;

    border: 5px solid #579ec6;
    border-radius: 1rem;
}

.header-title { /* basic attributes, values, basic syntax */
    font-size: 36px;
    color: #003859;

    padding-bottom: 15px;
}

.header-text {
    font-size: 1.2rem;
}

/* location input ----------------------------- */

.location-container {
    margin-top: 2rem;
}

.location-label {
    font-size: 1.2rem;
    font-weight: bold;
}

.location-input{
    width: 200px;
    
}

.date {
    font-size: 1.2rem;
    font-weight: bold;

}

.forecast-container {
    padding: 1rem 4rem;
    
    border: none;
    border-radius: 2rem;
}

img {
    width: 600px;

    border: none;
    border-radius: 1rem;
}

.forecast-info {
    background-color: #90d5ff;

}

.forecast-info h3 {
    color: #003859;
    font-size: 2rem;
    font-weight: lighter;

    margin-bottom: 0.5rem;
}

.forecast-detail {
    font-size: 1.4rem;
    background-color: #e6f4f1;

    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;

}

.forecast-detail h4 {
    font-weight: bold;
}

.forecast-detail span {
    font-weight: lighter;
}

.forecast-controls {
    padding: 1rem;
}

.some-classes {
    font-size: 1.2rem;
    background-color: #003859;
    color: white;

    font-weight: bold;
}

footer {
    padding: 20px;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: solid 1px #003859;
    background-color: #90d5ff;
}